body {
    background: #01087d;
  }
  
  .box {
    position: absolute;
    left: 42%;
    top: 40%;
  }
  
  .side {
    box-sizing: border-box;
    height: 55px;
  }
  
  .top {
    width: 200px;
    transform: skew(55deg, -35deg);
    background: #51aef9;
    margin-left: 5px;
    height: 40px;
  }
  
  .left {
    width: 57px;
    transform: skew(0, 35deg);
    background: #8ffce7;
    margin-top: 50px;
    margin-left: -23px;
  }
  
  .right {
    position: absolute;
    bottom: 50px;
    left: 34px;
    width: 200px;
    transform: skew(0, -35deg);
    background: #3460f2;
  }
  